name: test
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 1 * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - uses: golangci/golangci-lint-action@v9
      - run: make
        env:
          TEST_GCAL_API_KEY: ${{ secrets.TEST_GCAL_API_KEY }}
